<h1 class ="text-2xl font-semibold" >Create new note</h1>
<div class = 'mt-6'>
<%= render 'form', submit_text: 'Create new note' %>

<%= link_to 'Back to notes', notes_path, class:'inline-block mt-2' %>
