<%= link_to '<- Back to notes', notes_path, class:'text-sm text-gray-400' %>
<h1 class ="text-2xl font-semibold"> <%= @note.name %> </h1>
<p class='mt-4'> <%= @note.body %> </p>

<%= link_to 'Update notes', edit_note_path, class:'text-sm text-gray-400'  %>
